<?xml version="1.0"?>
<config>
	<modules>
		<Learn_Flipclock>
			<version>1.0.0</version>
		</Learn_Flipclock>
	</modules>
	<global>
		<helpers>
			<flipclock>
				<class>Learn_Flipclock_Helper</class>
			</flipclock>
		</helpers>
		<blocks>
			<flipclock>
				<class>Learn_Flipclock_Block</class>
			</flipclock>
		</blocks>
        <models>
            <flipclock>
				<class>Learn_Flipclock_Model</class>
                <resourceModel>flipclock_mysql4</resourceModel>
            </flipclock>
        </models>
        <resources>
            <flipclock_setup>
                <setup>
                    <module>Learn_Flipclock</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</flipclock_setup>
			<flipclock_write>
				<connection>
					<use>core_write</use>
				</connection>
			</flipclock_write>
            <flipclock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flipclock_read>
        </resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<flipclock>
					<file>learn/flipclock.xml</file>
				</flipclock>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
        <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <flipclock translate="title" module="flipclock">
                                            <title>Flipclock Settings</title>
                                            <sort_order>50</sort_order>
                                        </flipclock>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<flipclock>
					<file>learn/flipclock.xml</file>
				</flipclock>
			</updates>
		</layout>
    </adminhtml>
	<default>
		<flipclock>
			<settings>
				<flipclock_active>1</flipclock_active>
				<flipclock_jquery>1</flipclock_jquery>
				<flipclock_main_title_color>000000</flipclock_main_title_color>
				<flipclock_label_title_color>ffffff</flipclock_label_title_color>
				<flipclock_day_color>f10000</flipclock_day_color>
				<flipclock_hours_color>e2e2e2</flipclock_hours_color>
				<flipclock_minutes_color>ffffff</flipclock_minutes_color>
				<flipclock_seconds_color>e1e1e1</flipclock_seconds_color>
				<flipclock_display>1,2</flipclock_display>
			</settings>
		</flipclock>
	</default>
</config>